{% load static %}


<section id="content">

    <article class="col1">

        <h3>Hot Travel</h3>
        <div class="pad">
            <div class="wrapper under">
                <figure class="left marg_right1"><img src={% static 'images/page1_img1.jpg' %} alt=""></figure>
                <p class="pad_bot2"><strong>Italy<br>
                    Holidays</strong></p>
                <p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer adipiscing.</p>
                <a href="#" class="marker_1"></a> </div>

            <div class="wrapper">
                <figure class="left marg_right1"><img src={% static 'images/page1_img3.jpg' %} alt=""></figure>
                <p class="pad_bot2"><strong>Cruise<br>
                    Holidays</strong></p>
                <p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer adipiscing.</p>
                <a href={% static '#' %} class="marker_1"></a> </div>
        </div>
    </article>
    <article class="col2 pad_left1">

        <h2>Popular Places</h2>
        <div >
            {{ product.category|safe }}
            {% for rs in products %}
                <!-- Product Single -->

                <div class="product product-single">

                    <img src="{{ rs.image.url }}" alt="">
                    <div class="product-body">
                        <h2 class="product-name"><a href="#">{{ rs.title }}</a></h2>
                        <div class="product-btns">
                            <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                            <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                            {% if rs.variant == 'None'%}
                            {% endif %}
                        </div>
                    </div>
                </div>
                </div>
                <!-- /Product Single -->
            {% endfor %}

        </div>
    </article>
</section>