{% load static %}
{% load mptt_tags %}

<header>
    <link rel="stylesheet" href="css/style.css">
    <div class="wrapper">
        <h1><a href="index.html" id="logo">Around the World</a></h1>
        <div class="right">
            <div class="header-search">
                <form action="/search/" method="post">
                    {% csrf_token %}
                    <input name="query" class="input search-input" type="text" placeholder="Enter your keyword">
                    <button class="search-btn"><i class="fa fa-search"></i> </button>

                </form>
            </div>
            <div class="wrapper">
                <n>
                    <ul id="top_nav">
                        <li class="header-account dropdown default-dropdown">
                            {% if user.id is not None %}
                                <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                                    <div class="header-btns-icon">
                                        <img src="{{ request.user.profile.image.url }}">
                                    </div>
                                    <strong class="text-uppercase">{{ user.first_name }} <i class="fa fa-caret-down"></i></strong>
                                </div>
                            {% else %}
                                <a href=" /login" class="text-uppercase">Login</a> / <a href="/signup/" class="text-uppercase">Sign Up</a>
                            {% endif %}

                            <ul class="custom-menu">
                                <li><a href="/user/"><i class="fa fa-caret-right"></i> My Account </a></li>
                                <li><a href="/user/contents"><i class="fa fa-caret-right"></i> My Content </a></li>
                                <li><a href="/user/comments/"><i class="fa fa-caret-right"></i> My Comment</a></li>
                                <li><a href="/user/addcontent"><i class="fa fa-caret-right"></i> Products </a></li>
                                <li><a href="/logout/"><i class="fa fa-caret-right"></i> Logout </a></li>


                            </ul>
                        </li>
                    </ul>
                </n>
            </div>
        </div>
    </div>


    </ul>
    </div>
    <!-- /category nav -->

    <!-- menu start -->

    <div class="menu_side">
        <div id="navbar_menu">
            <nav>
                <ul id="menu">
                    <li><a href="/index" class="nav1">Home</a></li>
                    <li><a href="/hakkimizda" class="nav2">Hakkımızda </a></li>
                    <li><a href="/turlarımız" class="nav3">Turlarımız</a></li>
                    <li><a href="/referanslarımız" class="nav4">Referanslarımız</a></li>
                    <li class="end"><a href="/iletisim" class="nav5">Iletısım</a></li>
                </ul>
            </nav>


        </div></div>

    </div>
    </form>
    </div>
    </article>

</header>