{% extends "homebase.html" %}
{% block title %}Hakkımızda {{ setting.company }}{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}

{% block description %}{{ setting.description }}{% endblock %}

{% block content %}
    <section id="content">


        <div class="col-md-8">
                    <div class="shiping-methods">
                        <div class="section-title">
                            <h3 class="title">Iletisim Bilgilerimiz</h3>
                        </div>
                        <div >
                            {{ setting.contact|safe }}
                        </div>

                    </div>
                </div>
      <article class="col2 pad_left1">
        <h2>Iletisim Formu</h2>
        <div class="section padding_layout_1">
  <div class="container">
    <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12"></div>
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="row">




              </div>
            </div>



              {% if messages %}
                  {% for message in messages %}
                      <div class="alert alert-",{{message.tags}} role="alert">
                            {{ message }}
                      </div>
                  {% endfor %}pyt
              {% endif %}
              <div class="main_heading text_align_center">
              <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn main_bt" type="submit" value="SEND FORM">
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

      </article>
    </section>

  </div>

  <div class="block"></div>
</div>
<div class="body1">
  <div class="main">
    <footer>
      <div class="footerlink">
        <p class="lf">Copyright &copy; 2010 <a href="#">SiteName</a> - All Rights Reserved</p>
        <p class="rf">Design by <a href="http://www.templatemonster.com/">TemplateMonster</a></p>
        <div style="clear:both;"></div>
      </div>
    </footer>
  </div>
</div>
{% endblock %}