{% extends "homebase.html" %}
{% block title %} {{ profile.user_name }} Profile {% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}

{% block description %}{{ setting.description }}{% endblock %}

{% block content %}
    <div class="all-title-box">
        <div class="container text-center">
            <h1>User Profile<span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span></h1>
        </div>
    </div>
    <div id="contact" class="section wb">
        <div class="container">


            <div class="row">
                <div class="col-md-3">
                    <div class="container">
                        <div class="map-box">
                            <h2 class="title">User Panel</h2>
                        </div>
                        {% include "user_panel.html" %}


                    </div>
                </div><!-- end col -->
                <div class="col-md-9">
                    <div class="map-box">
                        <h2 class="title">User Information</h2>
                        <div >

                            {% if  messages %}
                                {% for message in messages %}
                                    <div style="color:orangered;font-size: medium">
                                        {{ message|safe }}
                                    </div>
                                {% endfor %}
                            {% endif %}


                            <form method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                    <p>
                                        {{ field.label_tag }}<br>
                                        {{ field }}
                                        {% if field.help_text %}
                                            <small style="color: grey">{{ field.help_text }}</small>
                                        {% endif %}
                                        {% for error in field.errors %}
                                            <p style="color: red;font-size: medium">{{ error }}</p>
                                        {% endfor %}
                                    </p>
                                {% endfor %}
                                <button class="btn-custom" type="submit">Save Changes</button>
                            </form>

                        </div>

                    </div>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->


{% endblock %}

