{% extends "homebase.html" %}
{% block title %} {{ profile.user_name }} Profile {% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}

{% block description %}{{ setting.description }}{% endblock %}

{% block content %}
    <section id="content">
    <article class="col1">
        <h3>Hot Travel</h3>
        <div class="pad">
            <div class="wrapper under">
                <figure class="left marg_right1"><img src="images/page1_img1.jpg" alt=""></figure>
                <p class="pad_bot2"><strong>Italy<br>
                    Holidays</strong></p>
                <p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer adipiscing.</p>
                <a href="#" class="marker_1"></a> </div>
            <div class="wrapper under">
                <figure class="left marg_right1"><img src="images/page1_img2.jpg" alt=""></figure>
                <p class="pad_bot2"><strong>Philippines<br>
                    Travel</strong></p>
                <p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer adipiscing.</p>
                <a href="#" class="marker_1"></a> </div>
            <div class="wrapper">
                <figure class="left marg_right1"><img src="images/page1_img3.jpg" alt=""></figure>
                <p class="pad_bot2"><strong>Cruise<br>
                    Holidays</strong></p>
                <p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer adipiscing.</p>
                <a href="#" class="marker_1"></a> </div>
        </div>
    </article>
    <article>
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-3">
                    {% include "user_panel.html" %}
                </div>

                <div class="col-md-9">
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">User Profile Update</h3>
                        </div>
                    </div>

                    <form method="POST" enctype = "multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ user_form.as_p  }}
                            {{ profile_form.as_p  }}
                        </fieldset>
                        <div class="form-group">
                            <button class="primary-btn" type="submit">Update</button>
                        </div>
                    </form>

                </div>
            </div>
            <!-- /row -->
        </div>

    </div>

    </div>


    </div>
    <!-- /row -->
    </div>
    <!-- /container -->
    </div>
    <!-- /section -->

{% endblock %}

</article>
</section>

</div>

<div class="block"></div>
</div>
<div class="body1">
    <div class="main">
        <footer>
            <div class="footerlink">
                <p class="lf">Copyright &copy; 2010 <a href="#">SiteName</a> - All Rights Reserved</p>
                <p class="rf">Design by <a href="http://www.templatemonster.com/">TemplateMonster</a></p>
                <div style="clear:both;"></div>
            </div>
        </footer>
    </div>
</div>
