<div class="main_heading text_align_left" align="left">
    <h4>USER PANEL</h4>
    <div class="categary">
        <ul>
            <li><a href="/user/"><i class="fa fa-caret-right"></i> My Account </a></li>
            <li><a href="/user/contents"><i class="fa fa-caret-right"></i> My Content </a></li>
            <li><a href="/user/comments/"><i class="fa fa-caret-right"></i> My Comment</a></li>
            <li><a href="/user/addcontent"><i class="fa fa-caret-right"></i> Products </a></li>
            <li><a href="/logout/"><i class="fa fa-caret-right"></i> Logout </a></li>


        </ul>
    </div>
</div>